.quiz {
    width:80%;
    margin: auto;
    text-align: left;
}

.quiz input {
    margin:10px 20px;
}

.ans-submit-btn {
    margin:20px 20px;
    padding: 8px 16px;
    font-size: 12px;
    background-color: #264de4;
    color: white;
    border: none;
    border-radius: 5px;
}

.ans-submit-btn:hover {
    background-color: #132d92; 
}



