.quize-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:20px;
    padding: 10px;
    grid-gap: 15px;
}

@media only screen and (max-width: 768px) {
    .quize-container {
        grid-template-columns: repeat(2, 1fr);
    }
   }


@media only screen and (max-width: 600px) {
   .quize-container {
        display:block;
   }
  }

