.header {
    display: flex;
    justify-content: space-between;
    padding:0 20px;
}

.logo {
    text-decoration: none;
    color: inherit;
    margin-left: 15px;
}

.logo-image {
    max-width: 120px;
    height: auto;
}

.navigation {
    margin-top: 20px;
}

.nav-link {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.navigation a {
    padding:20px;
    text-decoration: none;
}